# =====================
# Build e CMake
# =====================
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake
/*.cbp
/*.user
/*.sln
/*.vcxproj*
/*.idea/
/*.vs/
/.cache
# =====================
# Executáveis e objetos
# =====================
*.exe
*.o
*.obj
*.out
build/*.a
*.lib
*.dll
*.pdb

# =====================
# Sistema / OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs e temporários
# =====================
*.log
*.tmp

# =====================
# VSCode
# =====================
.vscode/

# =====================
# Python / scripts (se tiver)
# =====================
__pycache__/
*.pyc
